<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550711211137-3du9qfcpbon304dktfafk4f639gpkm20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550711211137-3du9qfcpbon304dktfafk4f639gpkm20</string>
	<key>API_KEY</key>
	<string>AIzaSyC40yZ6FNOx745OW3qk8jitHSk8zNHmSpo</string>
	<key>GCM_SENDER_ID</key>
	<string>550711211137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.NewEra</string>
	<key>PROJECT_ID</key>
	<string>new-era-1642778266988</string>
	<key>STORAGE_BUCKET</key>
	<string>new-era-1642778266988.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550711211137:ios:fcc37119571565a04b0980</string>
</dict>
</plist>